.mdl-layout__header .mdl-layout__drawer-button {
    background-color: #F5F5F5;
    color: rgb(66, 66, 66);
}

@media only screen and (max-width: 1024px) {
    .mdl-dialog {
        width: 85vw;
    }
}

.mdl-fab-bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
    transition: bottom .25s cubic-bezier(0,0,.2,1);
}

.mdl-card__supporting-text{
    text-align: center;
}